* {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: url(https://images8.alphacoders.com/404/404750.jpg);
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inputText {
  position: absolute;
  margin: auto;
  height: 29pc;
  width: 25pc;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 55px black;
  padding: 10px;
}

p {
  color: white;
}

.fa-sync {
  float: right;
  color: white;
}

#task {
  position: absolute;
  height: 5px;
  width: 98%;
  padding: 20px;
  margin: 0 auto;
  top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-style: italic;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.562);
}

.inputTask {
  margin: 5px;
}

.task {
  position: absolute;
  top: 6%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.addBtn {
  position: absolute;
  border: none;
  color: black;
  background: transparent;
  width: 40px;
  height: 46px;
  top: 40px;
  left: 90%;
  cursor: pointer;
  z-index: 100;
}


.output-container {
  position: absolute;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70%;
  width: 100%;
  top: 0%;
}

.output-container::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}

.List-items input {
  border: none;
}

.List-items {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 18px;
  font-style: italic;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.397);
  padding: 15px;
  margin: 10px 0;
  margin-left: 20px;
  text-align: center;
}

.List-items:hover {
  box-shadow: 0 0 50px black;
  transform: scale(1.06);
}

.description {
  background-color: transparent;
}

.error {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 20%;
  font-size: 20px;
}

.clearall {
  border: none;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.623);
}
